body{
	/* background-color: lightgray; */
	border-radius: 10px;
	/* justify-content: space-evenly; */
	align-content: space-between;
	background-image: url('../img/justin-leibow-GkKJ56oZ_30-unsplash.jpg');
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}

nav {

	margin: 0 auto;
	padding: 0;
	margin-right: 0%;
	background-color: whitesmoke;
	border-radius: 10px;
	font-size: larger;
	opacity: 0.7;
	
	
	
 }

 
 
 nav>ul>li>a {
 padding: 18px;
 margin-right: 0;
 text-transform: uppercase;
 text-decoration: none;
 display: block;
 color:black;
 font-weight: bolder;
 font-style: italic;
 font-family: 'Times New Roman', Times, serif;
 }
 nav>ul>li>a:hover {
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
 background: lightsteelblue;
 color: rgba(0, 35, 122, 0.7);
 border-radius: 10px;
 }
 ul>li{
   /*text-align: right;*/
   display: inline-block;
 }
 nav>ul{
   text-align: center;
 }

 .testa{
	 /*background-image: url('../img/aziz-acharki-fEL18vax1HE-unsplash.jpg');*/
	 background-repeat: no-repeat;
	 border-radius: 10px;
	 height: 70%;
	 background-size: cover;	
 }

 #bottomtext{
 	color: lightseagreen;
 	font-style: oblique;
 	font-size: x-large;
 }
 #bottomtext1{
 	color: aqua;
 	font-style: oblique;
 	font-size: x-large;
 }
#bottomtext2{
 	color: lime;
 	font-style: oblique;
 	font-size: x-large;
 }


 /* header{
	 justify-content: space-around;
	 display: inline-block;
 } */

 #content{
	font-size: 25px;
	font-style: oblique;
	color: whitesmoke;
	text-align: center;
	opacity: 0.9;

 }

 
 
 footer{
	 background-color: whitesmoke;
	 border-radius: 10px;
	 text-align: center;
	 padding-top: 1px;
	 padding-bottom: 2px;
	 opacity: 0.9;
 }

 footer>p{
 	margin-top: 10px;
 }

 .about{
	 border-radius: 10px;
	 
	 height: 100%;
	 padding: 0;
	 opacity: 0.9;
 }

 .contact{
	border-radius: 10px;
	
	height: 35%;
	padding: 0;
	opacity: 0.9;
}

 /* .contact{
	 border-radius: 10px;
	 background-color: lightslategrey;
	 height: 80%;
	 padding: 0;
 } */

#float{
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6); */
	/* min-height: 100px; */
	height: 93%;
	width: 50%;
	float: left;
	background-color: lightslategray;
	border-radius: 10px;
	opacity: 0.9;
	color: whitesmoke;
	line-height: 2em;
	text-align: center;
  }
  #float2{
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6); */
	height: auto;
	width: 49%;
	float: left;
	background-color: lightslategray;
	border-radius: 10px;
	opacity: 0.9;
	color: whitesmoke;
	margin-left: 5px;
	line-height: 2em;

	
  }
#hII{
	background-color: whitesmoke;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0.9;
	position: relative;
	margin-top: auto;
	

}

img{
	height: 55%;
	width: 100%;
	background-size: cover;
	border-radius: 10px;
}

#box{
	border-radius: 10px;
	background-color: lightslategray;
	height: auto;
	opacity: 0.9;
	text-align: center;
	color: whitesmoke;
	line-height: 2em;
	/* box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08),6px 6px 12px rgba(255,255,255,1); */
}

#deco{
	text-transform: uppercase;
	text-decoration-line: underline;
	font-style: italic;
}

#box-1{
	border-radius: 10px;
	background-color: lightslategray;
	height: auto;
	opacity: 0.9;
	text-align: center;
	color: whitesmoke;
	line-height: 2em;
	float: left;
	width: 50%;
	height: auto;
	margin-bottom: 5px;
	/* box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08),6px 6px 12px rgba(255,255,255,1); */
}

#box-2{
	border-radius: 10px;
	background-color: lightslategray;
	height: auto;
	opacity: 0.9;
	text-align: center;
	color: whitesmoke;
	line-height: 2em;
	float: right;
	width: 49.5%;
	margin-left: 5px;
	margin-bottom: 5px;
	height: auto;
	/* box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08),6px 6px 12px rgba(255,255,255,1); */
}

h4{
	color: greenyellow;
}

#sp{
	color: black;
	text-decoration: wavy;
	font-size: large;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: lightslategrey; 
	opacity: 0.5;
	
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: lightsteelblue;
	opacity: 0.5;
	border-radius: 20px; 
	
  }

  input[type=text], select {
	width: 90%;
	padding: 12px;
	margin: 4px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	margin-left: 5% ;
	height: 51px;
  }

  input[type=email], select {
	width: 90%;
	padding: 12px;
	margin: 4px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	margin-left: 5% ;
  }
  
  input[type=submit] {
	width: 90%;
	background-color: #4CAF50;
	color: white;
	padding: 12px;
	margin: 4px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	align-content: center;
	margin-left: 10px;
	margin-left: 5% ;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
	margin-left: 5% ;
	
  }

  #strongcolor{
	  color: lightseagreen;
  }

/* 
  @media only screen and (max-width: 600px){
		body{
			width: auto;
		}
		footer{
			position: absolute;
		}
		.testa{
			height: auto;
		}
		#box-1{
			width: 98%;
			display: inline;
		}
		#box-2{
			width: 98%;
			display: inline;
			margin-left: 0px;
		}
		#box{
			justify-content: space-between;
		}
  } */
  
  





 

 
 
 